<%- include('../partials/header') %> 
  <form action="/cards" method="POST" autocomplete="off">
    <label for="name">
      New Card Name
      <input type="text" name="name">
    </label>
    <button type="submit">Add Card</button>
  </form>
<%- include('../partials/footer') %> 